*{
    font-family: sans-serif;
}
.header-section{
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #000000, #ffb93809),  url('../../../public/hero-bg.jpg');
}

/* NavBar design */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo a{
    text-decoration: none;
    color: #fff;
    font-size: 46px;
    transition: .5s;
}
.logo a:hover{
    background-image: linear-gradient(45deg, #FFBB38, #fff);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-items .items{
    margin-right: 2rem;
    list-style-type: none;
}
.nav-items .items a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    transition: .2s;
}
.nav-items .items a:hover{
    color: #FFBB38;
}
.nav-btn-start a{
    padding: .7rem;
    text-align: center;
    text-decoration: none;
    border-radius: 0.2rem;
    color: #fff;
    border: .15rem solid #FFBB38;
    background-color: transparent;
    transition: .2s ease-in;
    font-size: 18px;
    font-weight: 500;
}
.nav-btn-start a:hover{
    background-color: #FFBB38;
    color: #000;
}
@media screen and (max-width: 890px){
    .nav-btn-start a{
        visibility: hidden;
    }
}
/* main content */
.MainContentHeader{
    text-align: center;
    margin-top: 10rem;
}
.title-header{
    font-size: 3.5rem;
    color: #fff;
    margin-top: 7rem;
}
.company-name-header{
    font-size: 3rem;
    color: #FFC451;
}
.description-header{
    font-size: 2rem;
    color: #fff;
}

/* boxes design */
.boxes-header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10rem;
}
.description-title{
    color: #fff;
    font-size: 22px;
}
.icon-header{
    max-width: 2.5rem;
    margin: auto;
    transition: .3s ease;
}
.icon-header:hover{
    transform: scale(1.4);
}
.boxes{
    display: block;
}