*{
    font-family: sans-serif;
}
.header-section{
    min-height: 100vh;
    background-image: url('../../../public/hero-bg.jpg');
}

/* NavBar design */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo a{
    text-decoration: none;
    color: #FFC451;
    font-size: 46px;
}
.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-items .items{
    margin-right: 2rem;
    list-style-type: none;
}
.nav-items .items a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    transition: .2s;
}
.nav-items .items a:hover{
    color: #FFBB38;
}
.nav-btn-start a{
    padding: .7rem;
    text-align: center;
    text-decoration: none;
    border-radius: 0.2rem;
    color: #fff;
    border: .15rem solid #FFBB38;
    background-color: transparent;
    transition: .2s ease-in;
    font-size: 18px;
    font-weight: 500;
}
.nav-btn-start a:hover{
    background-color: #FFBB38;
    color: #000;
}
@media screen and (max-width: 890px){
    .nav-btn-start a{
        visibility: hidden;
    }
}