.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}
.right-side-img img{
    width: 700px;
}
.left-side-text{
    padding: 3rem;
    line-height: 1.5rem;
    color: #444;
}
.left-side-text h3{
    text-align: center;
    font-size: 24px;
}